/* @noflip */
#md-accessibility {
	position: fixed;
    right: 0;
    float: right;
    top: 15vh;
}

.contrast-grayscale { 
  -webkit-filter: grayscale(1) contrast(1);
  -moz-filter: grayscale(1) contrast(1);
  -ms-filter: grayscale(1) contrast(1);
  -o-filter: grayscale(1) contrast(1);
  filter: grayscale(1) contrast(1);
  -webkit-filter: gray;
  filter: gray; /* IE 6-9 */
}

.contrast-invert {
	background: black !important;
	background-color: black !important;
	color: white !important;
	/*filter: invert(1) contrast(1);
	-webkit-filter: invert(1) contrast(1);
	-moz-filter: invert(1) contrast(1);
	-o-filter: invert(1) contrast(1);
	-ms-filter: invert(1) contrast(1);*/
}

.contrast-invert .mfb-component__button--main,
.contrast-invert .mfb-component__button--child {
	border: solid 2px yellow !important;
}

.contrast-invert .mfb-component__button--main:hover, 
.contrast-invert .mfb-component__button--main:focus,
.contrast-invert .mfb-component__button--child:hover, 
.contrast-invert .mfb-component__button--child:focus {
	color: white !important;
	border: solid 3px white !important;
}

#md-accessibility .mfb-component__button--main, 
#md-accessibility .mfb-component__button--main,
#md-accessibility .mfb-component__button--child, 
#md-accessibility .mfb-component__button--child {
	border: solid 3px white !important;
}

.contrast-invert a {
	background: black !important;
	background-color: black !important;
	color: yellow !important;	
}

.contrast-invert input {
	background: black !important;
	background-color: black !important;
	color: white !important;
	border: solid 2px white !important;
	
}
