.mw-accessibility-menu {
    font-weight: normal;
    font-style: normal;
    line-height: 0em !important;
}

.ui-accessibility-button {
    display: block;
}

.oo-ui-buttonElement-button {
	margin-right: 0px !important;
}

div #mw-accessibility-menu {
    position: fixed;
    right: 0;
    top: 50%;
}

#contrast-toggle span.oo-ui-labelElement-label {
    font-size: 1.6em !important;
	line-height: 0em !important;
}

#larger-text-toggle span.oo-ui-labelElement-label {
    font-size: 0.8em !important;	
	line-height: 0em !important;
}

#smaller-text-toggle span.oo-ui-labelElement-label {
    font-size: 0.8em !important;
	line-height: 0em !important;
}