.mw-accessibility-menu {
    font-weight: normal;
    font-style: normal;
    line-height: 0em !important;
}

.ui-accessibility-button {
    display: block;
}

.oo-ui-buttonElement-button {
	margin-right: 0px !important;
<<<<<<< HEAD
=======
}

div #mw-accessibility-menu {
    position: fixed;
    right: 0;
    top: 50%;
>>>>>>> 1f1f64a91056f513d07a97f3c0f9972a1f22efb8
}

div #mw-accessibility-menu {
    position: fixed;
    left: -6px;
    top: 30%;
    float: left;
}
#mw-accessibility-menu a {
    margin: 0; 
}
#contrast-toggle span.oo-ui-labelElement-label {
<<<<<<< HEAD
    font-size: 1.7em !important;
=======
    font-size: 1.6em !important;
>>>>>>> 1f1f64a91056f513d07a97f3c0f9972a1f22efb8
	line-height: 0em !important;
}

#larger-text-toggle span.oo-ui-labelElement-label {
    font-size: 0.8em !important;	
	line-height: 0em !important;
}

#smaller-text-toggle span.oo-ui-labelElement-label {
    font-size: 0.8em !important;
	line-height: 0em !important;
}